html {
	box-sizing: border-box;
	-webkit-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}
*::-webkit-scrollbar {
	display: none;
}

html,
body {
	height: 100%;
}

body {
	position: relative;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	min-width: 320px;
	font-family: Abhaya Libre SemiBold, sans-serif;
	font-size: 16px;
	font-weight: 600;
	font-style: normal;
	line-height: 1.25;
	background-color: black;
}

ul,
li {
	margin: 0;
	padding: 0;
	list-style: none;
}

a {
	display: inline-block;
	text-decoration: none;
	color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}

section {
	margin: 30px 0;
}

button {
	cursor: pointer;
}
